{{ partial "head.html" . }}

<body>
    <div class="main">
        {{ partial "nav.html" . }}
        {{ partial "header.html" . }}
        <div class="content">
            <h1 class="page_heading">{{ .Title }}</h1>
            {{- with .Content }}<div class="page_intro markdown">{{ . }}</div>{{ end }}

            <div class="list_with_title">
                {{- range .Pages.GroupByDate "2006" }}
                <div class="listing_title">{{ .Key }}</div>
                <ul class="listing">
                    {{- range .Pages }}
                    <li class="listing_item">
                        <div class="listing_post">
                            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                            <div class="post_time">
                                <time class="date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02.01" }}</time>
                            </div>
                        </div>
                    </li>
                    {{- end }}
                </ul>
                {{- end }}
            </div>
        </div>
        <a id="back_to_top" href="#" class="back_to_top" aria-label="{{ i18n "back_to_top" }}">{{ partial "icon.html" "arrow-up" }}</a>
    </div>
    {{ partial "footer.html" . }}
    {{ partial "js.html" . }}
</body>

</html>
