{{ partial "head.html" . }}

<body>
    {{ partial "header.html" . }}
    <main class="content wrap" id="contenu">
        <header class="page_head">
            <h1 class="page_heading">{{ .Title }}</h1>
            {{- with .Description }}<p class="standfirst">{{ replace . "'" "’" }}</p>{{ end }}
        </header>
        <ul class="page_tags">
            {{- range .Data.Terms.ByCount }}
            {{- with .Page }}
            <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a> <span class="terms_count">{{ len .Pages }}</span></li>
            {{- end }}
            {{- end }}
        </ul>
    </main>
    <a id="back_to_top" href="#" class="back_to_top" aria-label="{{ i18n "back_to_top" }}">{{ partial "icon.html" "arrow-up" }}</a>
    {{ partial "footer.html" . }}
    {{ partial "js.html" . }}
</body>

</html>
