<header class="header">
    <div class="site_title_container">
        <div class="site_title">
            <a href="{{ .Site.BaseURL }}">
                <img src="{{ "images/logo.png" | absURL }}" alt="{{ .Site.Title }}" class="site_logo" width="260" height="60" />
            </a>
        </div>
        <div class="description">
            <p class="sub_title">{{ .Site.Params.subTitle }}</p>

            <nav class="my_socials" aria-label="Réseaux sociaux">
                {{- with .Site.Params.social.twitter }}
                <a href="{{ . }}" title="Twitter / X" rel="me noopener" target="_blank">{{ partial "icon.html" "twitter" }}<span class="sr_only">Twitter</span></a>
                {{- end }}
                {{- with .Site.Params.social.facebook }}
                <a href="{{ . }}" title="Facebook" rel="me noopener" target="_blank">{{ partial "icon.html" "facebook" }}<span class="sr_only">Facebook</span></a>
                {{- end }}
                <a href="mailto:contact@infoops.fr" title="Contact">{{ partial "icon.html" "mail" }}<span class="sr_only">Email</span></a>
                <a href="{{ "index.xml" | absURL }}" title="Flux RSS">{{ partial "icon.html" "rss" }}<span class="sr_only">RSS</span></a>
            </nav>
        </div>
    </div>
</header>
