
<div class="header animated fadeInDown">
    <div class="site_title_container">
        <div class="site_title">
            <a href="{{ .Site.BaseURL }}">
                <img src="/images/logo.png" alt="InfoOps France Logo" class="site_logo" />
            </a>
        </div>
        <div class="description">
            <!-- Subtitle -->
            <p class="sub_title">{{ with .Site.Params.subTitle }}{{ . }}{{ else }}{{ end }}</p>

            <!-- Social Media Icons -->
            <div class="my_socials">
                {{ range $key, $val := .Site.Params.Social }}
                {{ if ne $val "" }}
                <a href="{{ $val }}" title="{{ $key }}" target="_blank">
                    {{ if eq $key "twitter" }}<i class="ri-twitter-fill"></i>{{ end }}
                    {{ if eq $key "facebook" }}<i class="ri-facebook-fill"></i>{{ end }}
                </a>
                {{ end }}
                {{ end }}
                <!-- Email Icon -->
                <a href="mailto:contact@infoops.fr" title="Email" class="remix-icon">
                    <i class="ri-mail-fill"></i>
                </a>
            </div>
        </div>
    </div>
</div>
